@media only screen and (min-width:320px) and (max-width:767px)
    {
      #headline{font-size:25px;line-height:28px;}
      #subheadline{font-size:20px;line-height:28px;}
      .form-section{width: 100%;
    display: inline-block;}
    .form-section h4 {font-size:20px;}
    .form-top {
    background-color: #105f90;
    padding: 1px;
}
.form-section h4 {
    font-size: 18px;
}
.form-section ul li input[type=text] {padding-bottom:7px;}
    }