<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Conversion</title>
<meta name="description" content="">

<link href="css/style.css" rel="stylesheet" type="text/css">
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="css/responsive.css" rel="stylesheet" type="text/css" />

<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>

</head>
<body>
	<div class="header">
	  <div class="container">
		<div class="row">
			<div class="col-md-6">
			</div>
			<div class="col-md-6">
				<ul class="menu">
					<li><a href="#">Why</a></li>
					<li><a href="#">How</a></li>
					<li><a href="#">Testing</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Get in touch</a></li>
					
				</ul>
			</div>
		</div>
		</div>
	</div>
	<!--headerends-->
	<div class="banner-blog">
		<div class="container">
			<h1>31 ways your landing page forms are bleeding money</h1>
		
	</div>
	</div>
	<!--bannersends-->
	
	<div class="blog-content">
	    <div class="container">
	    <div class="inner-section">
	    	<h5>Landing page forms are the last obstacle between a prospect and a lead. Are your landing page forms leading to conversions, or are they true obstacles?
			</h5>
			<p>t’s easy to get landing page forms wrong, but it’s also easy to improve your landing page forms and increase your conversions.</p>
			<h4>The fields where bad landing page forms die (the fields that kill conversions)</h4>
			<p>A good landing page form lives and dies by the fields you ask your prospects to complete—too many, and they’ll turn away; too few, and they won’t have enough information to trust your company.
How do you strike that perfect balance? Our friends over at KlientBoost wrote an excellent piece on this. Here’s what to do… and what to avoid.</p>
			</div>
		</div>
	</div>
	
	<!---content ends-->
	<div class="footer-section">
	 <div class="container">
		<div class="footer">
		 <div class="row">
		 	<div class="col-md-3 newletter">
				<h3>NEWSLETTER</h3>
				<p>Sign up for latest news, tips and learnings from ConversionLab.</p>
				<a href="#">Signup for newsletter</a>
		 	</div>
			<div class="col-md-9 social">
			   <h3>FOLLOW US</h3>
			   <ul class="social-icon">
				   <li><img src="image/facebook.png"/></li>
				   <li><img src="image/twitter.png"/></li>
				   <li><img src="image/google-plus.png"/></li>
			   </ul>
			 </div>
			
		</div>
		 </div>
	  </div>
	</div>
</body>
</html>
