<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{{page.title}}</title>
<link href="{{site.baseurl}}/css/mobileone/style.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
 <div class="container">
	<div class="header">
   		<div class="inner-container">
	   		<h2>{{page.title}}</h2>
			<a href="#">tell: 1800 200 1234 </a>
		</div>
	</div>
	<div class="main">
	  <div class="inner-container">
		<h3>{{page.heading}}</h3>
		<h4>{{page.sub-heading}}</h4> 
	 	<h5>{{page.second-heading}}</h5> 
		 <img src="{{site.baseurl}}/image/mobileone/banner.jpg"/>
	 	<h4>{{page.banner-content}}</h4>
		<div class="button">
       <input type="button" value="Click Here To Call" >
		  </div>
	 <p>{{page.content}}</p>
		</div>
	 </div>

	   <div class="footer"> 
	      
		   <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
		   </div>
     

	</div>
</body>
</html>
