<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{{page.top-title}}</title>
<meta name="viewport" content="width=device-width; initial-scale=1.0;">
<link href="{{site.baseurl}}/css/mobilesqueezeone/style.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
 <div class="container">
	<div class="header">
   		<div class="inner-container">
	   		<h2>{{page.top-title}}</h2>
			
		</div>
	</div>
	<div class="main">
	  <div class="inner-container">
		<h3>{{page.heading}}</h3>
		<h4>{{page.sub-heading}}</h4> 
	 	<h5>{{page.second-heading}}</h5> 
	 	   {% if page.banner %}
		 <img src="{{site.baseurl}}/image/mobilesqueezeone/{{page.banner}}"/>
	       {% endif %}  
	 	<h4>{{page.banner-content}}</h4>
		<div class="button">
         <form method="post" class="form-inside" action="http://leads.hatkit.com/form.php?form=1" id="frmSS1" onsubmit="return CheckForm1(this);">
      <input name="CustomFields[13]" type="text" class="input-box" id="CustomFields_13_1" placeholder="Name" value="" />
    
  <input name="email" type="text" class="input-box" placeholder="Email Address" value=""/><br />
  <input type="hidden" name="CustomFields[12]" id="CustomFields_12_1" value="{{page.campaign}}">
   
     <input type="submit" value="Subscribe" class="button"/>
    </form>
		  </div>
	 <p></p>
		</div>
	 </div>

	   <div class="footer"> 
	      
		   <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
		   </div>
     

	</div>
	<script type="text/javascript">
// <![CDATA[

      function CheckMultiple1(frm, name) {
        for (var i=0; i < frm.length; i++)
        {
          fldObj = frm.elements[i];
          fldId = fldObj.id;
          if (fldId) {
            var fieldnamecheck=fldObj.id.indexOf(name);
            if (fieldnamecheck != -1) {
              if (fldObj.checked) {
                return true;
              }
            }
          }
        }
        return false;
      }
    function CheckForm1(f) {
      var email_re = /[a-z0-9!#$%&'*+\/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+\/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?/i;
      if (!email_re.test(f.email.value)) {
        alert("Please enter your email address.");
        f.email.focus();
        return false;
      }
    
            if (f.format.selectedIndex == -1) {
              alert("Please choose a format to receive your email campaigns in");
              f.format.focus();
              return false;
            }
          
        return true;
      }
    
// ]]>
</script>
</body>
</html>
