<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{page.top-title}}</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0;">
    <link href="{{site.baseurl}}/css/mobileone/style.css" rel="stylesheet" type="text/css" media="all" />
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="inner-container">
                <h2>{{page.top-title}}</h2>
            </div>
        </div>
        <div class="main">
            <div class="inner-container">
                <h3>{{page.heading}}</h3>
                <h4>{{page.sub-heading}}</h4>
                <h5>{{page.second-heading}}</h5>
                <img src="{{site.baseurl}}/image/mobileone/banner.jpg" />
                <h4>{{page.banner-content}}</h4>
                <div class="button">
                  
                    <span class="ppc_integration ppc_id_338016_211108">
                      <a href="#" class="ppc_link ">
                        <span class="ppc_number click" >Click Here To Call</span>
                    </a>
                    </span>
                </div>
                <p></p>
            </div>
        </div>
        <div class="footer">
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
        </div>
    </div>
    <!-- Omit http from path to ensure protocol is same as current request -->
    <script src="//js0.invoca.net/0/publisher_integration.js"></script>
    <script>
    Invoca.affiliate_integration();
    </script>
</body>

</html>
