<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{{page.top-title}}</title>
<link href="{{site.baseurl}}css/mobileone/style.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
 <div class="container">
	<div class="header">
   		<div class="inner-container">
	   		<h2>{{page.top-title}}</h2>
			<a href="#">tell: 1800 200 1234 </a>
		</div>
	</div>
	<div class="main">
	  <div class="inner-container">
		<h3>Get The Money You Deserve</h3>
		<h4>HAVE YOU OR A LOVED ONE<br>BEEN INJURED IN A</h4> 
	 	<h5>SLIP AND FALL ACCIDENT ?</h5> 
		 <img src="{{site.baseurl}}/image/mobileonebanner.jpg"/>
	 	<h4>Don't Wait, Call NOW</h4>
		<div class="button">
       <input type="button" value="Click Here To Call" >
		  </div>
	 <p>Speak to an Experienced Personal injury
       lawyer in your area for <br>
		 <span>a free consultation today</span></p>
		</div>
	 </div>

	   <div class="footer"> 
	      
		   <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
		   </div>
     

	</div>
</body>
</html>
