<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <title>{{page.title}}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" type="image/png" href="{{site.baseurl}}/image/forum/favicon.png"/>
    <link href="{{site.baseurl}}/css/optin/style.css" rel="stylesheet" type="text/css">
    <link href="{{site.baseurl}}/css/optin/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{{site.baseurl}}/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/js/eshop/bootstrap.min.js"></script>
</head>
<body> 
 <div class="content-wrapper">
   <div class="container">
       <div class="row">
       <div class="form-section">
          <div class="form-holder">
             <h2>Fill the form to subcribe</h2>
            <form>
               <label> Enter your Name</label>
              <input type="text" placeholder="Enter your name">
              <label> Enter your Email</label>
              <input type="text" placeholder="Enter your Email">
               <input type="submit" value="Subcribe" class="btn">
            </form>
          </div>
          </div>
       </div>
    </div>
 </div> 
   
   
     {% include analytics.html %}
</body>
</html>