<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{page.heading}}</title>
<link href="{{site.baseurl}}/css/popone/stylesheet.css" rel="stylesheet" type="text/css" media="all" />
<script src="{{site.baseurl}}/js/popone/button.js" type="text/javascript"></script>
</head>

<body onload="MM_preloadImages('{{site.baseurl}}/image/popone/try-it-now-hover-botton.jpg')">
<div id="container">
  <div class="container-main">
    <div id="body-main">
      <div class="body-top-box">
        <h1 style="padding-left:20px;">{{page.heading}}</h1>
        <p>{{page.content}}</p>
      </div>
      <div class="body-inside-box">
        <div class="body-left"><img src="{{site.baseurl}}/image/popone/seen-on-th.jpg" alt="" width="250" height="80" />
        <div class="subnav">
        <ul>
        <li style="background:url({{site.baseurl}}/image/popone/right-arrow.jpg) left center no-repeat;">{{page.bullet-one}}</li>
        <li style="background:url({{site.baseurl}}/image/popone/right-arrow.jpg) left center no-repeat;">{{page.bullet-two}}</li>
        <li style="background:url({{site.baseurl}}/image/popone/right-arrow.jpg) left center no-repeat;">{{page.bullet-three}}</li>
        <li style="background:url({{site.baseurl}}/image/popone/right-arrow.jpg) left center no-repeat;">{{page.bullet-four}}</li>
        </ul>
        </div>
        <div class="left-bottom-box"><a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image3','','images/try-it-now-hover-botton.jpg',1)"><img src="{{site.baseurl}}/image/popone/try-it-now-normal-botton.jpg" alt="TRY IT NOW" name="Image3" width="217" height="57" border="0" id="Image3" /></a></div>
        </div>
        <div class="body-right"><img src="{{site.baseurl}}/image/popone/{{page.image}}" alt="" width="470" height="372" /></div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
