<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{page.heading}}</title>
<link href="{{site.baseurl}}/css/popthree/stylesheet.css" rel="stylesheet" type="text/css" media="all" />
</head>

<body>
<div id="container">
  <div id="body-main">
    <div class="body-top">
      <div class="body-top-left">
        <h1>{{page.heading}}</h1>
      </div>
      <div class="body-top-right">
        <h3 class="styleFontface">{{page.sub-heading}}</h3>
      </div>
    </div>
    <div class="welcome-box"><img src="{{site.baseurl}}/image/popthree/{{page.banner}}" width="800" height="300" alt="" /></div>
    <div class="form-box">
     
      <input name="textfield" type="text" class="input-box" id="textfield" placeholder="Name" />
      <input name="textfield2" type="text" class="input-box" id="textfield2" placeholder="Email" />
       <a href="#" title="GET THE BEST DEAL" class="button">GET THE BEST DEAL</a>
    </div>
    <div class="testimonial-box">
      <div class="testimonial-title">
        <h2>{{page.bottom-heading}}</h2>
      </div>
      <div class="testimonial">
      <ul>
      <li><img src="{{site.baseurl}}/image/popthree/{{page.small-banner-one}}" width="180" height="150" alt="" /></li>
      <li><img src="{{site.baseurl}}/image/popthree/{{page.small-banner-two}}" width="180" height="150" alt="" /></li>
      <li><img src="{{site.baseurl}}/image/popthree/{{page.small-banner-three}}" width="180" height="150" alt="" /></li>
      <li style="margin-right:0px;"><img src="{{site.baseurl}}/image/popthree/{{page.small-banner-four}}" width="180" height="150" alt="" /></li>
      </ul>
      </div>
      <div class="testimonial-bottom-box">{{page.content}}</div>
    </div>
  </div>
  <div id="footer"><p>© Copyright 2015-2016. All Rights Reserved  |  Designed by: </p><a href="http://buylandingpagedesign.com/" target="_blank">buylandingpagedesign.com</a></div>
</div>
</body>
</html>
