<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{page.site-title}}</title>
<link href="{{site.baseurl}}/css/poptwo/stylesheet.css" rel="stylesheet" type="text/css" media="all" />
</head>

<body>
<div id="container">
  <div id="body-main">
    <div class="body-top">
      <h2 class="styleFontface">{{page.site-title}}</h2>
    </div>
    <div class="banner" style="background:url({{site.baseurl}}/image/poptwo/{{page.banner}}")no-repeat;>
    <div class="welcome-box">
      <h1 class="styleFontface">{{page.banner-heading}}</h1>
        <p>{{page.banner-sub-content}}</p>
    </div>
    <div class="form-box">
      
      <input name="textfield" type="text" class="input-box" id="textfield" placeholder="Name" />
      <br />
      <input name="textfield3" type="text" class="input" id="textfield3" placeholder="Email Address" /><br />
      <a href="#" title="FREE REPORT" class="button">FREE REPORT</a>
    </div>
	  </div>
     <div class="content-box">
       <img src="{{site.baseurl}}/image/poptwo/report-bg.jpg" alt="" width="350" height="280" class="report-bg" />
       <h3 class="styleFontface">{{page.heading}}</h3>
         <p>{{page.content}}</p>
     </div>
  </div>
  <div id="footer">
    <div class="footer-main">
      <div class="footer-container"><p>© Copyright 2015-2016. All Rights Reserved  |  Designed by:</p> <a href="http://buylandingpagedesign.com/" target="_blank">buylandingpagedesign.com</a></div>
    </div>
  </div>
</div>
</body>
</html>
