<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Basic LP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{site.baseurl}}/css/poptwo/bootstrap.min.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/poptwo/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/poptwo/custom.css" rel="stylesheet">
      <link href="{{site.baseurl}}/css/poptwo/responsive.css" rel="stylesheet">
</head>
<body id="body" class="" style="background-color: rgb(60, 141, 191);">
 {% include propel.html %}
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div id="wrap" class="" style="border-color: rgb(49, 94, 126);">
                    <div id="header">
                        <h1 id="headline" class="">{{page.heading}}</h1>
                        <h3 id="subheadline" class="">{{page.sub-heading}}</h3>
                    </div>
                    <!-- header -->
                    <div id="main">
                        <div id="col_left" class="span6">
                            <a href="http://ctrtard.com/" id="image_link">
                                <img id="image" class="" src="{{site.baseurl}}/image/poptwo/{{page.image}}" style="width:100%">
                            </a>
                            <p id="caption" class="">
                                {{page.image-caption}}
                            </p>
                            <p>
                            </p>
                        </div>
                        <!-- col_left -->
                        <div id="col_right" class="span6">
                            <ul>
                                <li id="benefit_1" class="">{{page.bullet-one}}</li>
                                <li id="benefit_2" class="">{{page.bullet-two}}</li>
                                <li id="benefit_3" class="">{{page.bullet-three}}</li>
                            </ul>
                             <div class="form-section">
                               <div class="form-top"><h4>{{page.form-header}}</h4></div>

                               
<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {window.location='{{page.visit}}';}"></iframe>
 
<form class="inner-form" method="post" target="hidden_iframe" action="{{page.link}}" id="{{page.form-id}}" onsubmit="submitted=true;">
                                 <ul>
                                     <li><label>Enter Your Name</label><input type="text"  name="{{page.field-name}}" id="name" value="">
                                     </li>                                   
                                      <li><label>Enter Your Email</label><input type="text" name="{{page.field-email}}" value="" ></li>
                     <li><input type="hidden" name="{{page.field-category}}" id="category" value="{{page.email-segment}}"></li>
                                      
                                      <li><input type="Submit"  value="{{page.button-content}}"></li>
                                 </ul>
                                
                               </form>
                              </div>
                            <!-- cta -->
                            <div id="date">
                                <span id="final_push" class="" style="float:left;">
                                    Hurry! Only the first 1000 entries accepted.
                                </span>
                            </div>
                            <!-- date -->
                        </div>
                        <!-- col_right -->
                        <div class="clear"></div>
                    </div>
                    <!-- main -->
                </div>
                <!-- wrap -->
            </div>
            <!-- span12 -->
        </div>
        <!-- row-fluid -->
    </div>
    <!-- container -->
     {% include analytics.html %}

     
<input type="hidden" id="hidLocation" value="http://lab.hatkit.com/"/>
<script type="text/javascript" src="http://lab.hatkit.com/landing.js"></script>
<script type="text/javascript">var submitted=false;</script>
</body>
</html>
