<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{page.heading}}</title>
<link href="{{site.baseurl}}/css/squeezetwo/stylesheet.css" rel="stylesheet" type="text/css" media="all" />
</head>

<body>
<div id="container">
  <div id="body-main">
    <div class="body-top">
      <div class="body-top-left">
        <h1>{{page.heading}}</h1>
      </div>
      <div class="body-top-right">
        <h3 class="styleFontface">{{page.sub-heading}}</h3>
      </div>
    </div>
    <div class="welcome-box"><img src="{{site.baseurl}}/image/squeezetwo/{{page.banner}}" width="800" height="300" alt="" /></div>
   
   <form method="post" class="form-box" action="http://leads.hatkit.com/form.php?form=1" id="frmSS1" onsubmit="return CheckForm1(this);">
       <input name="CustomFields[13]" type="text" class="input-box" id="CustomFields_13_1" placeholder="Name" value="" />
      <input name="email" type="text" class="input" placeholder="Email Address" value=""/>
      <input type="hidden" name="CustomFields[12]" id="CustomFields_12_1" value="{{page.campaign}}">
       <input type="submit" value="Subscribe" class="button"/>
    </form>
    <div class="testimonial-box">
      <div class="testimonial-title">
        <h2>{{page.bottom-heading}}</h2>
      </div>
      <div class="testimonial">
      <ul>
      <li><img src="{{site.baseurl}}/image/squeezetwo/{{page.small-banner-one}}" width="180" height="150" alt="" /></li>
      <li><img src="{{site.baseurl}}/image/squeezetwo/{{page.small-banner-two}}" width="180" height="150" alt="" /></li>
      <li><img src="{{site.baseurl}}/image/squeezetwo/{{page.small-banner-three}}" width="180" height="150" alt="" /></li>
      <li style="margin-right:0px;"><img src="{{site.baseurl}}/image/squeezetwo/{{page.small-banner-four}}" width="180" height="150" alt="" /></li>
      </ul>
      </div>
      <div class="testimonial-bottom-box">{{page.content}}</div>
    </div>
  </div>
  <div id="footer"><p>© Copyright 2015-2016. All Rights Reserved  |  Designed by: </p><a href="http://buylandingpagedesign.com/" target="_blank">buylandingpagedesign.com</a></div>
</div>
<script type="text/javascript">
// <![CDATA[

      function CheckMultiple1(frm, name) {
        for (var i=0; i < frm.length; i++)
        {
          fldObj = frm.elements[i];
          fldId = fldObj.id;
          if (fldId) {
            var fieldnamecheck=fldObj.id.indexOf(name);
            if (fieldnamecheck != -1) {
              if (fldObj.checked) {
                return true;
              }
            }
          }
        }
        return false;
      }
    function CheckForm1(f) {
      var email_re = /[a-z0-9!#$%&'*+\/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+\/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?/i;
      if (!email_re.test(f.email.value)) {
        alert("Please enter your email address.");
        f.email.focus();
        return false;
      }
    
            if (f.format.selectedIndex == -1) {
              alert("Please choose a format to receive your email campaigns in");
              f.format.focus();
              return false;
            }
          
        return true;
      }
    
// ]]>
</script>
</body>
</html>
